---
import { Image } from "astro:assets";

import PageLayout from "@/layouts/Base";
import aboutImg from "../assets/hand.jpg";

const meta = {
	title: "About",
	description: "I'm a starter theme for Astro.build",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>
      Self taught DevOps engineer, with experience managing Kubernetes, GCP, AWS,CI/CD, and Infrastructure as Code.
		</p>
    <p>
  Through my personal projects i've taught myself other thecore concepts of DevOps, AWS, and modern programing languages like Go and Python.
    </p>
    <p>
    When im not working I find myself listening to music (mainly heavy metal), glued to a book, getting tattoos,
   or hiking around.
    </p>

		<div class="flex justify-center">
			<Image
				src={aboutImg}
				alt="A cartoon cactus looking at the 'Astro.build' logo"
				loading="eager"
				fetchpriority="high"
        class="rounded-md"
			/>
		</div>
</div>
</PageLayout>
